<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900"></div>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ad mollitia consectetur magnam fugit, aliquam ab cumque laboriosam consequuntur explicabo modi molestiae natus asperiores omnis quam iure labore sequi fuga.</h1>
</body>
</html>